:root {
    --primary: #3c1361;
}

body {
    background-color: var(--primary);
}

header {
    background-size: cover;
    color: white;
}

#scheduler.page-section {
    background-color: white;
    padding: 2rem 2rem;
}

#scheduler .border {
    border-radius: 0.25rem;
}

footer {
    background-size: cover;
    color: white;
}

#location .container {
    max-width: 1400px;
}

#location .navbar {
    background-color: var(--primary);
}

#location .nav-link {
    cursor: pointer;
}

#location .sub-nav-link {
    cursor: pointer;
}

#location .location-content {
    color: white;
    display: none;
    height: 100%;
}

#location .location-box {
    background-color: white;
    color: black;
    border-radius: 10px;
}

#location .location-box ul {
    list-style-type: none;
    padding-left: 0rem;
    line-height: 2rem;
    font-size: 0.9rem;
    text-align: center;
}
/*
#location .location-box li {
    border: 1px rgba(0, 0, 0, 0.5) ridge;
}
*/